@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

body {
    overflow: hidden;
    background-color: rgb(248, 248, 248);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: rgb(204, 204, 204);
}

.element:hover {
    color:rgb(54, 54, 54);
    transition: color 0.3s ease; /* Smooth transition */
}